<ion-view>
	<ion-content>
		<form ng-submit="signup(signupData)">
			<div class="list">
				<label class="item item-input item-floating-label">
			    	<span class="input-label">Name</span>
			    	<input type="text" ng-model="signupData.name" placeholder="Name" required>
			  	</label>
		    	<label class="item item-input item-floating-label">
			    	<span class="input-label">Email</span>
			    	<input type="text" ng-model="signupData.email" placeholder="Email" required>
			  	</label>
			  	<label class="item item-input item-floating-label">
			    	<span class="input-label">Password</span>
			    	<input type="password" ng-model="signupData.password" placeholder="Password" required>
			  	</label>
			  	<label class="item">
		          	<button class="button button-block button-calm" type="submit">Sign up</button>
	        	</label>
			</div>
		</form>
      	<a class="button button-clear button-balanced" href="#/login">Log in</a>
	</ion-content>
</ion-view>